.auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* width: 1024px; */
    background-image: url("https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp");
    background-size: cover;
  }
  
  .auth h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: rgb(0, 133, 138);
    margin-bottom: 20px;
  }
  
  .auth form {
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 300px;
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow: 7px 7px 15px #5c5c5c, -7px -7px 15px #ffffff;
  }
  
  .auth form label {
    font-size: 16px;
    font-weight: 500;
  }
  
  .auth form input {
    width: auto;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid gray;
  }
  
  .auth form button {
    padding: 10px;
    border: none;
    background-color: teal;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    width: auto;
  }
  
  .auth form p {
    font-size: 12px;
    color: red;
    text-align: center;
  }
  
  .auth form span {
    margin-top: 20px;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
  }
  